html {
	background: #1c1c1c;
}
.App {
	font-family: sans-serif;
	text-align: center;
}

a,
a:visited,
a:active {
	color: rgb(210, 23, 23);
}

.react-pdf__Page__canvas {
	margin: 0 auto;
	width: 80% !important;
	height: 100% !important;
}

@media only screen and (max-width: 600px) {
	body .react-pdf__Page__canvas {
		margin: 0 !important;
		width: 100% !important;
		height: 100%;
	}

	/* For all pages */
	.all-page-container {
		height: 100%;
		min-width: 100% !important;
		max-height: 100% !important;
		overflow: auto;
	}
}

h4 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.4em;
	/* margin-left: 40px; */
}

hr {
	border-top: 2px dotted red;
}

button {
	margin-right: 10px;
	background-image: linear-gradient(red, yellow);
	color: black;
	border: none;
	padding: 5px 10px;
	width: 100px;
	cursor: pointer;
}

/* For pdf */
.react-pdf__Page {
	margin-top: 10px;
}
.react-pdf__Page__textContent {
}

.react-pdf__Page__annotations.annotationLayer {
	padding: 20px;
}

.react-pdf__Page__canvas {
	margin: 0 auto;
}

/* For all pages */
.all-page-container {
	height: 100%;
	min-width: 1200px;
	max-height: 2200px;
	overflow: auto;
}
